doctype

html(lang="ru")
  
  -var active = '1 новость' //активный пункт меню, список в header.jade
  -var pageTitle = '1 новость' + ' - Подкова' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Breadcrumbs
    .breadcrumbs
      .container
        
        
    
    // Content
    .content
      .container
        .row
          .col-sm-8
            
            img(src="./img/1-news-document.png", alt="" title="©Фотография Артура Пирожкова / www.shutterstock.com / ").img-thumbnails
            
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. 
            p Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. 
            p Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». 
            p Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его языком и речью и заманивший в свое агенство, которое использовало его снова и снова в своих проектах. И если его не переписали, то живет он там до сих пор.
            
          .col-sm-4
            
            .clear20.visible-xxs
            nav.sidebar
              .sidebar__title Все материалы
              .sidebar__navigation
                ul
                  li
                    a(href="#!") Аналитика
                      span 135
                  li
                    a(href="#!") Безопасность
                      span 243
                  li
                    a(href="#!") Вторичное жилье
                      span 64
                  li
                    a(href="#!") Загородная недвижимость
                      span 94
                  li
                    a(href="#!") Ипотека
                      span 564
                  li
                    a(href="#!") Новости
                      span 54
                  li
                    a(href="#!") Новостройки
                      span 24
                  li
                    a(href="#!") Это интересно!
                      span 120
                  li
                    a(href="#!") Безопасность сделок
                      span 54
                  li
                    a(href="#!") Вторичная недвижимость
                      span 420
                  li
                    a(href="#!") Вторичное жилье
                      span 558
                  li
                    a(href="#!") Загородная недвижимость
                      span 88 
                  li
                    a(href="#!") Интервью
                      span 564
                  li
                    a(href="#!") Ипотека
                      span 22
                  li
                    a(href="#!") Новостройки
                      span 87

    
    include ./_include/_footer
    div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
