doctype

html(lang="ru")
  
  -var active = 'О компании' //активный пункт меню, список в header.jade
  -var pageTitle = 'О компании' + ' - Подкова' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    .wrapper
    
      include ./_include/_header
      
      // Breadcrumbs
      .breadcrumbs
        .container
          
          ul
            li
              a(href="#!") Главная
            li
              a(href="#!") О компании
            li
              h1 О компании
      
      // Content
      .content.content--text
        .container
          
          img(src="./img/about-img.png", alt="").about__img
          p
            strong Агентство недвижимости "ПОДКОВА" 
            | образовалось в 1993 году, в начале так называемых «лихих девяностых». С тех пор минуло уже почти два десятилетия. За это время мы пережили немало взлетов и падений вместе со всем цивилизованным рынком недвижимости Хабаровска, да и всей России. Сегодня можно с уверенностью сказать, что на протяжении этого времени мы с честью выходили из самых сложных ситуаций, негромко, но достойно двигались только вперед. Все эти годы мы не изменяли своему девизу 
            strong "Репутация и профессионализм»
            |, и вот уже восемнадцать лет мы честно работаем для вас!
          p
            strong За минувшие годы наша компания стала одним из самых популярных брендов на рынке недвижимости Хабаровска.
          p Мы совершаем любые операции с недвижимостью, связанные с покупкой, продажей и обменом квартир. Безупречная репутация сделала " ПОДКОВУ" привлекательным партнером не только для частных лиц, но и для множества — свыше 15  — банков.
          p С некоторыми из них — 
            strong «Сбербанком», «Примсоцбанком», «Втб 24», «Росбанком», «НОМОС-РЕГИОБАНКом» 
            | и рядом других — наши специалисты регулярно совершают ипотечные сделки, в т.ч. для бизнеса. Клиент может полностью рассчитывать на высококвалифицированную помощь наших сотрудников (многие из которых аттестованы банками для работы с ипотечным жильём), которых отличает любовь к своему делу, настойчивость и целеустремленность.
          
          .content__head НАШИ ПРЕИМУЩЕСТВА
          
          p 
            strong Агентство недвижимости «ПОДКОВА» 
            | имеет более чем 18-летний опыт работы на рынке брокерских услуг по купле-продаже квартир, коммерческих и загородных объектов в Хабаровске. Мы предлагаем своим клиентам:
          
          table.advantages__table
            tr
              td
                img(src="./img/about-advantages-1.png", alt="")
              td
                .h3 Разумные комиссии. 
                p Наши расценки – прозрачны, с ними вы можете ознакомиться в соответствующем разделе. Размер агентского вознаграждения состоит из двух составляющих: фиксированной и переменной части. Фиксированная часть агентского вознаграждения составляет от 10 000 руб. до 50 000 руб. в зависимости от типа сделки, и покрывает затраты  агентства, связанные с проведением основных операций, необходимых для обеспечения целостности и безопасности сделки (подготовку документов, проведение сделки и т.д.).  Переменная часть же часть составляет 1,5 - 2% от стоимости квартиры.
                p При такой системе расчета  агентского вознаграждения учтено реальное возрастание затрат компании при операциях с более дорогими квартирами (реклама, продолжительность сделки, количество показов). 
                p В результате, мы получили формулу, максимально прозрачную и понятную для клиента. 
                p Пользуясь этой формулой, он не только понимает, за что именно платит, но и может оптимизировать свои затраты.
            tr
              td
                img(src="./img/about-advantages-2.png", alt="")
              td
                .h3 Гарантия юридической чистоты объекта.
                p Мы осуществляем проверку юридической чистоты квартир, офисов и другой недвижимости в Хабаровске по своей уникальной методике! Каждая сделка проходит под контролем собственного юрисконсульта компании. Все документы и объекты проходят полную юридическую экспертизу.
            tr
              td
                img(src="./img/about-advantages-3.png", alt="")
              td
                .h3 Оперативность сделок.
                p Оказание риэлторских услуг по приобретению, продаже, выкупу квартир и других объектов в нашей компании осуществляется в среднем на 20-35% оперативнее, чем во многих других агентствах недвижимости  Хабаровска.
            tr
              td
                img(src="./img/about-advantages-4.png", alt="")
              td
                .h3 Безопасность сделки.
                p Мы предлагаем своим клиентам несколько вариантов расчетов между сторонами, где каждая из сторон может выбрать для себя наиболее подходящий способ расчета по сделке. Мы выступаем гарантом в юридической защите своих клиентов и после совершения сделки.  
            tr
              td
                img(src="./img/about-advantages-5.png", alt="")
              td
                .h3 Индивидуальный подход.
                p Специалисты агентства предоставляют профессиональные консультации на всех этапах покупки, продажи или обмена квартир в Хабаровске и Хабаровском крае, а также других коммерческих и жилых объектов недвижимости. Процесс сделки проводит ваш персональный риэлтор, но его работу курируют руководители соответствующих служб.
          
          .content__head Процент удовлетворенности клиентов нашей работой превышает 87% !
          
      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
