doctype

html(lang="ru")
  
  -var active = 'Новости' //активный пункт меню, список в header.jade
  -var pageTitle = 'Новости' + ' - Подкова' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    .wrapper
    
      include ./_include/_header
      
      // Breadcrumbs
      .breadcrumbs
        .container
          
          ul
            li
              a(href="#!") Главная
            li
              a(href="#!") Новости
            li
              h1 Новости
      
      // Content
      .content
        .container
          .row
            .col-sm-8
              
              // News
              .news
                .news__block
                  .news__block-img
                    a(href="#!")
                    img(src="./img/news-block-img-1.png", alt="").img-responsive
                    .news__block-btn Подробнее
                  .news__block-title Далеко-далеко за словесными горами в стране гласных
                  p Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. 
                .news__block
                  .news__block-img
                    a(href="#!")
                    img(src="./img/news-block-img-2.png", alt="").img-responsive
                    .news__block-btn Подробнее
                  .news__block-title За словесными горами в стране гласных
                  p Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. 
              
              // Pagination
              .pagination
                ul
                  li
                    a(href="#!")
                      i.ion-android-arrow-back
                  li
                    a(href="#!") 1
                  li.active
                    a(href="#!") 2
                  li
                    span ...
                  li
                    a(href="#!") 99
                  li
                    a(href="#!")
                      i.ion-android-arrow-forward
              
            .col-sm-4
              
              .visible-xxs
                .clear20
                  
              nav.sidebar
                .sidebar__title Все материалы
                .sidebar__navigation
                  ul
                    li
                      a(href="#!") Аналитика
                        span 135
                    li
                      a(href="#!") Безопасность
                        span 243
                    li
                      a(href="#!") Вторичное жилье
                        span 64
                    li
                      a(href="#!") Загородная недвижимость
                        span 94
                    li
                      a(href="#!") Ипотека
                        span 564
                    li
                      a(href="#!") Новости
                        span 54
                    li
                      a(href="#!") Новостройки
                        span 24
                    li
                      a(href="#!") Это интересно!
                        span 120
                    li
                      a(href="#!") Безопасность сделок
                        span 54
                    li
                      a(href="#!") Вторичная недвижимость
                        span 420
                    li
                      a(href="#!") Вторичное жилье
                        span 558
                    li
                      a(href="#!") Загородная недвижимость
                        span 88 
                    li
                      a(href="#!") Интервью
                        span 564
                    li
                      a(href="#!") Ипотека
                        span 22
                    li
                      a(href="#!") Новостройки
                        span 87

      
      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
