doctype

html(lang="ru")
  
  -var active = 'Услуги' //активный пункт меню, список в header.jade
  -var pageTitle = 'Услуги' + ' - Подкова' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    .wrapper
    
      include ./_include/_header
      
      // Breadcrumbs
      .breadcrumbs
        .container
          
          ul
            li
              a(href="#!") Главная
            li
              a(href="#!") Услуги
            li
              h1 Услуги
      
      // Content
      .content.content--text
        .container
          .row
            .col-sm-8
              
              p
                strong Вы интересуетесь, как продать, купить, обменять квартиру, дом и другую жилую или коммерческую недвижимость в Хабаровске? В какое агентство недвижимости лучше всего обратиться за квалифицированной помощью?
              p Подкова - это одна из самых известных и надежных риэлторских компаний Хабаровска. Мы работаем на рынке купли-продажи недвижимости с 1993 года. 
              p В компании Подкова  Вы можете получить весь спектр риэлторских услуг, необходимых при осуществлении операций с недвижимостью.
              p
                strong Опытные агенты по работе с недвижимостью будут рады выполнить для Вас следующие виды услуг:
              ul.list
                li Покупка, продажа, обмен жилой недвижимости;
                li Выкуп недвижимости;
                li Покупка, продажа, аренда нежилой коммерческой недвижимости;
                li Покупка, продажа земельных участков, частных домов и коттеджей;
                li Содействие в получении ипотечного кредита;
                li Приватизация;
                li Работа с государственными жилищными сертификатами и гарантийными письмами;
                li Бесплатные консультации.
              p
                strong В нашей компании также работает команда опытных юристов, которые помогут Вам:
              ul.list
                li при вводе помещения в эксплуатацию после проведенной Вами в процессе перевода или в общем порядке перепланировки или реконструкции;
                li в получении разрешения на перепланировку и реконструкцию жилых и нежилых помещений и многое другое.
              p
                strong Мы гарантируем Вам быстрое и профессиональное оказание услуг, подход к делу со стороны наших специалистов как к своему личному, а также принятие решений специалистами компании на основе принципа выгоды для клиента, как денежной так и временной.
              img(src="./img/1-services-document.png", alt="").img-thumbnails
              
            .col-sm-4
              
              .visible-xxs
                .clear20
                  
              nav.sidebar
                .sidebar__title УСЛУГИ ПОКУПАТЕЛЯМ
                .sidebar__navigation.sidebar__navigation--services
                  ul
                    li
                      a(href="#!") Покупка квартиры
                    li
                      a(href="#!") Покупка квартиры в новостройке
                    li.active
                      a(href="#!") Помощь в получении ипотеки
                    li
                      a(href="#!") Покупка квартиры на материнский капитал
                    li
                      a(href="#!") Недвижимость в других регионах и странах
                      
                .sidebar__title УСЛУГИ ВЛАДЕЛЬЦАМ
                .sidebar__navigation.sidebar__navigation--services
                  ul
                    li
                      a(href="#!") Продажа квартир и комнат
                    li
                      a(href="#!") Оценка недвижимости
                    li
                      a(href="#!") Рефинансирование и реструктуризация кредитов
                      
                .sidebar__title УСЛУГИ АРЕНДАТОРАМ
                .sidebar__navigation.sidebar__navigation--services
                  ul
                    li
                      a(href="#!") Коммерческое предложение для застройщиков
                    li
                      a(href="#!") Аренда квартир и комнат
                    li
                      a(href="#!") Аренда коммерческой недвижимости
                    li
                      a(href="#!") Преимущества для арендодателей
                      
          
      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
