// Header
header.header
  .container
    
    .header__logo
      a(href="#!")
        img(src="./img/header-logo.png", alt="")
    
    .header__nav
      .header__nav-background
      .header__nav-top
        div.hidden-sm.hidden-xs
          i.icon.icon--header-phone1
          | Пн-Пт 9:00 - 18:00, Сб-Вс 10:00 - 16:00
        div
          i.icon.icon--header-phone2
          strong +7 986 54-32-10,  +7 986 54-32-10
      .header__nav-bottom
        
        .visible-xs
          .header__nav-bottom-phone
            i.icon.icon--header-phone2
            strong +7 986 54-32-10,  +7 986 54-32-10
        
        button#headerBtn.header__btn(type="button")
          i.ion-navicon-round
          span Меню сайта
        
        nav#headerNav.navigation(role="navigation")
          ul
            li
              a(href="#!") Главная
            li
              a(href="#!") О компании
            li
              a(href="#!") Услуги
              ul
                li
                  a(href="#!") УСЛУГИ ПОКУПАТЕЛЯМ
                li
                  a(href="#!") УСЛУГИ ВЛАДЕЛЬЦАМ
                li
                  a(href="#!") УСЛУГИ АРЕНДАТОРАМ
            li
              a(href="#!") Новости
            li
              a(href="#!") Контакты
              
    .header__quote
      span НАША РЕПУТАЦИЯ 
        br
        | ПРОВЕРЕНА ВРЕМЕНЕМ
