.loader
  .loader__block

mixin pagination
  .pagination
    ul
      li
        a(href="#!")
          i.ion-android-arrow-back
      li
        a(href="#!") 1
      li.active
        a(href="#!") 2
      li
        span ...
      li
        a(href="#!") 99
      li
        a(href="#!")
          i.ion-android-arrow-forward
