/*==========  Desktop First Method  ==========*/

/* 1920 */
@media only screen and (min-width : 1999px)
  /**/

@media only screen and (max-width : 1599px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1439px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .header
    &__nav
      width: 500px
      &-top
        &>div
          &+div
            margin-left: 15px
          &>strong
            font-size: rem(13)
    &__quote
      margin-left: 235px
  .navigation ul li
    padding-left: 20px
    margin-left: 12px
  .contact
    &__form
      padding-left: 20px
      padding-right: 15px
    &__content
      padding-top: 60px
      .content__head
        white-space: nowrap
        margin-top: -55px
  .services
    &__block
      width: 235px
  .news-list
    &__block
      height: 248px
      // width: 470px
      p
        overflow: hidden
        height: 40px
  .four-blocks__block
    & > div + div
      padding-left: 15px
    img
      width: 50px
  .main-slider
    &__block
      height: 575px
      background-position: 50% center
      background-size: cover
  .btn
    &--slide1
      margin-left: 18px
      margin-top: 278px
    &--slide2
      margin-top: 312px
  .special
    &__block
      &-img
        width: 470px
    .owl-theme .owl-dots
      width: 470px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .header
    &__nav
      width: 280px
    &__btn
      display: block
  .navigation
    position: absolute
    overflow: hidden
    margin-top: 35px
    right: 0
    padding-top: 9px
    opacity: 0
    visibility: hidden
    transform: translateY(10px)
    transition: transform 0.35s, opacity 0.35s
    &.is-active
      opacity: 1
      visibility: visible
      transform: translateY(0px)
    &::after
      content: ''
      height: 0
      width: 0
      border-left: 9px solid transparent
      border-right: 9px solid transparent
      border-bottom: 9px solid #c04631
      position: absolute
      top: 0
      right: 86px
    ul
      width: 290px
      border-radius: 4px
      background: #c04631
      overflow: hidden
      li
        margin: 0
        padding: 0
        &::before
          display: none
        display: block
        &>a, &>span
          height: 46px
          line-height: 46px
          padding: 0 28px
          text-align: left
          &::before, &::after
            display: none
          border: 0
        &>a
          &:hover, &:focus
            background: $color-orange
            color: $color-white
        &.active
          &>a,&>span
            background: $color-orange
            color: $color-white
  .about
    &__img
      width: 280px
  .contact
    &__content
      padding-top: 0
      .content__head
        margin-top: 0
        white-space: normal
    &__form
      margin-top: 25px
      max-width: 470px
  .services
    padding: 80px 0
  .navigation > ul ul
    display: none
  .main-about
    &__img
      display: none
    &__wrapper
      padding-right: 0
  .news-list
    &__wrapper
      margin: 0
  .four-blocks
    &__block
      display: block
      text-align: center
      &>div
        display: block
        &+div
          padding-left: 0
          padding-top: 10px
        &:first-child
          width: 100%
      img
        margin: 0 auto
  .main-slider
    &__block
      height: 515px
      // background-size: auto 515px
      background-position: 36% center

  .btn
    &--slide1, &--slide2
      height: 38px
      line-height: 38px
      min-width: 234px
      font-size: rem(11)
      margin-left: 45px
      margin-top: 250px
    &--slide2
      margin-left: 30px
      margin-top: 283px
      min-width: 204px
  .special
    &__block
      &-img
        width: 300px
    .owl-theme .owl-dots
      width: 300px

@media (min-width: 767px) and (max-width: 991px)
  .sidebar
    padding-left: 18px
    padding-right: 18px
    &__navigation
      ul
        li
          &>a
            padding-right: 0
            span
              display: none
  .img
    &-thumbnails
      border-width: 7px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .animated
    transition-property: none !important
    transform: none !important
    animation: none !important
  .img
    &-thumbnails
      border-width: 5px
  .footer
    &__social
      width: 190px
      margin-left: auto
      margin-right: auto
    &__title
      text-align: center
    &__copyright
      text-align: center
      max-width: inherit
      color: #999999
      margin-top: 5px
    .container .row > div
      padding-top: 55px
      padding-bottom: 45px
  .header
    height: 130px
    &__nav
      height: 35px
      position: absolute
      left: 0
      right: 0
      top: 70px
      width: auto
      text-align: center
      &-background
        display: none
      &-bottom
        background: #c04631
        height: 60px
        // padding-top: 5px
        &-phone
          display: block
          background: $color-orange
          padding: 5px 0
      &-top
        display: none
    &__btn
      right: 50%
      transform: translateX(50%)
    &__quote
      float: right
      margin-left: 0
    &__logo
      width: 170px
      margin-top: 10px
  .navigation
    right: 50%
    transform: translateX(50%) translateY(10px)
    &.is-active
      transform: translateX(50%) translateY(0px)
    &::after
      right: 50%
      transform: translateX(5px)
  .about
    &__img
      display: none
  .content
    &__head
      font-size: rem(24)
  .reviews
    &__row
      .col-sm-2
        width: 126px
      .col-md-10
        width: calc(100% - 126px)
  .services
    &__wrapper
      margin-right: 0
    &__block
      width: 224px
  .four-blocks
    margin-top: 0
    background: $color-white
    .row
      &>div
        &:nth-child(1), &:nth-child(2)
          .four-blocks__block
            margin-bottom: 35px
  .main-slider
    .owl-dots
      margin-top: -5px
    &__block
      height: 315px
      &--2
        background-size: auto 374px
  .btn
    &--slide1, &--slide2
      position: absolute
      margin-top: 0
      bottom: 27px
      margin-left: 10px
      min-width: 204px
  .special
    max-width: 550px
    margin: 0 auto 50px
    &__block
      &-wrapper
        display: block
        &>div
          display: block
          &:first-child
            width: auto
      &-img
        width: 100%
        border-radius: 10px
        margin-bottom: 25px
    .owl-theme .owl-dots
      bottom: 300px
      width: 100%

@media only screen and (max-width : 500px)
  .main-slider
    &__block
      background-position: 28% center

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .visible-xxs
    display: block !important
  .hidden-xxs
    display: none !important
  .header
    &__logo
      width: 117px
      margin-top: 19px
    &__quote
      width: 155px
      font-size: rem(11)
      margin-top: 19px
  .advantages
    &__table
      td
        img
          width: 25px
        &+td
          padding-left: 15px
  .reviews
    &__img
      float: left
      width: 54px
      &+.reviews__title
        padding-left: 77px
    &__row
      .col-xs-10
        width: 100%
    &__name
      span
        display: block
  .contact
    &__form-wrapper
      display: block
      &>div
        display: block
        &:first-child
          width: 100%
        &+div
          padding-top: 25px
          padding-left: 0
  .specialists
    margin-top: 0
    &__nav
      right: inherit
      left: 0
    &__block
      border-right: 0
  .news-list
    &__block
      height: auto
      &-img
        display: none
      &-content
        width: 100%
        margin-left: 0
        padding: 45px 15px
      p
        height: auto
    &__head
      padding-left: 0
      opacity: 0
      z-index: -1
    &__nav
      padding-left: 0
  .four-blocks
    &__block
      font-size: rem(12)
  .main-slider
    &__block
      // background-size: cover
      // background-position: top center
      // &--1
      //   background-image: url('../img/main-slider-img-1--320.png')
      // &--2
      //   background-image: url('../img/main-slider-img-2--320.png')
  .special
    &__block
      &-content
        padding: 0 15px 0 15px
        &-row
          &--1
            height: auto
            min-height: 116px
            strong
              white-space: normal
          &--3
            .btn
              min-width: 93px
    .owl-theme .owl-dots
      bottom: inherit
      top: 310px

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

@media only screen and (max-width : 1600px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
